#button {
width: 100vh;
}

.b2topbtn{

  background-color: #00917e;
  width: 100%; 
  height: 40px;
  border: #00917e;
  transition: 0.6s ease;
}

.b2topbtn:hover{
  background-color: white;
  border: white;
  transition: 0.6s ease;
  cursor: pointer;

}

.faicon { 
  color: white;
  width: 100%;
  height: 100%;

}

.faicon:hover{ 
  color: #00917e;

}